body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

// Width of content area - override minima theme default
$content-width: 95%;
$default-font: 'Courier New', Monospace;
$alternate-font: 'Verdana', 'Arial', 'Sans-serif';

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$img-size: 450px;

* {
    font-family: $default-font;
}

.site-title {
    font-family: 'Courier New';
    font-size: 35px;
}

.site-header {
    border-top: none;
    border-bottom: none;
    padding-top: 10px;
}

.wrapper {
    max-width: $content-width;
}

.project {
    border-bottom: 1px solid $grey-color-light;
    width: 100%;
    padding-top: 50px;
}

.project:first-child {
    padding: 30px 0;
}

.project:last-child {
    border-bottom: none;
}

.captures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.capture {
    flex: 1 1 auto;
    max-width: $img-size;
    max-height: $img-size;
}

.excerpt {
    padding: 10px 10px 10px 0px;
    cursor: pointer;
}

.excerpt > h2:hover {
    text-decoration: underline;
}

img, video {
    max-width: 100%;
}

.project-tech, .project-description, .project-challenges {
    flex: 1 1 auto;
}

ul {
    list-style-type: none;
}

.alternate-font {
    font-family: $alternate-font
}

.no-bottom-border {
    border-bottom: none;
}



@media only screen {
    .header-wrap {
        display: flex;
        flex-direction: column;
    }

    .project-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .project-details > div {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@media only screen and (min-width: 64.063em) {
    .project-details {
        flex-direction: row;
    }

    .project-tech {
        max-width: 20%;
    }
    
    .project-description, .project-challenges {
        max-width: 38%;
    }
}