body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

// Width of content area - override minima theme default
$content-width: 95%;
$default-font: 'Courier New', Monospace;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$img-size: 400px;

* {
    font-family: $default-font;
}

.site-title {
    font-family: 'DM Serif Text';
    font-size: 35px;
}

.site-header {
    border-top: none;
    border-bottom: none;
    padding-top: 10px;
}

.wrapper {
    max-width: $content-width;
}

.project {
    border-bottom: 1px solid $grey-color-light;
    width: 100%;
    padding-top: 50px;
}

.project:first-child {
    padding-top: 0;
}

.project:last-child {
    border-bottom: none;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image {
    flex: 1 1 auto;
    max-width: $img-size;
    max-height: $img-size;
}

.excerpt {
    padding: 10px 10px 10px 0px;
}

img {
    max-width: 100%;
}

.project-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-tech, .project-description, .project-challenges {
    flex: 1 1 auto;
}

.project-tech {
    max-width: 20%;
}

.project-description, .project-challenges {
    max-width: 38%;
}

ul {
    list-style-type: none;
}

.no-bottom-border {
    border-bottom: none;
}

