---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- for project in site.projects -%}
  <section class="project">
    <div class="wrapper">
      <div class="images">
        {%- for image in project.images -%}
          <div class="image">
            <img src="{{ image.src }}" alt="">
          </div>
        {%- endfor -%}
      </div>
      <div class="excerpt">
        <h2>{{ project.title }}</h2>
        <p>{{ project.excerpt }}</p>
      </div>
      <div class="project-details">
        <div class="project-tech">
          <ul>
            {%- for tech in project.technologies -%}
              <li>{{ tech }}</li>
            {%- endfor -%}
          </ul>
          
        </div>
        <div class="project-description">
          {{ project.description }}
        </div>
        <div class="project-challenges">
          {{ project.challenges }}
        </div>
        
      </div>
    </div>
  </section>
  {%- endfor -%}


</div>
