---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    <div class="about">
      <p>aklsjdlksjdlfk</p>
    </div>
  {%- endif -%}

  {{ content }}

  {%- for project in site.projects -%}
  <section class="project">
    <div class="wrapper">
      <div class="captures">
        {%- if project.videos.size -%}
          {%- for video in project.videos -%}
            <div class="capture">
              <video class="enlarge-screen" src="{{ video.src }}" alt="" autoplay="true" loop="true">
            </div>
          {%- endfor -%}
        {%- endif -%}
        {%- if project.images.size -%}
          {%- for image in project.images -%}
            <div class="capture">
              <img class="enlarge-screen" src="{{ image.src }}">
            </div>
          {%- endfor -%}
        {%- endif -%}
      </div>
      <div class="excerpt">
        <h2>{{ project.title }}</h2>
        <p class="alternate-font">{{ project.excerpt }}</p>
        <p class="visual-cue">...</p>
      </div>
      <div class="project-details">
        <div class="project-tech">
          <h3>Technologies</h3>
          <ul>
            {%- for tech in project.technologies -%}
              <li class="alternate-font">{{ tech }}</li>
            {%- endfor -%}
          </ul>
          
        </div>
        <div class="project-description">
          <h3>Description</h3>
          <p class="alternate-font">{{ project.description }}</p>
        </div>
        <div class="project-challenges">
          <h3>Challenges</h3>
          <p class="alternate-font">{{ project.challenges }}</p>
        </div>
        
      </div>
    </div>
  </section>
  {%- endfor -%}


</div>
